@using Microsoft.AspNetCore.Components.Web
@using Practice.service

@inject JsonFileProduct ProductService
<div class="row">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="col-md-3 col-sm-6">
            <div class="card-img">
                <img src="@product.img" style="width: 250px; height: 250px" />
            </div>
            <div class="card-body">
                <h5><span>Name: </span>@product.name</h5>
                <h6><span>Price: </span>@product.price</h6>
            </div>
        </div>
    }
</div>
@code {

}
